{{#partial "title"}}
    Checkout my travel photos!

{{/partial}}
{{#partial "content"}}
    <h1>Favorite Traveling Photos</h1>
    <ul>
        <li><img style='height: 160px; width: 160px;' src='/images/kasper-rasmussen-Ii45WVmhv6E-unsplash.jpg' alt='A photo of a triangle.'/></li>
        <li><img style='height: 160px; width: 160px;' src='/images/holger-link-29iTDBx1tD8-unsplash.jpg ' alt='A photo of a owl.'/></li>
    </ul>
    <a href='/'><button class="btn btn-success"> home</button></a>
{{/partial}}

{{> layout.hbs}}